<% layout('layouts/boilerplate') %>

<div class="container my-5">
  <h1 class="mb-4">Purchase history</h1>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="table-primary">
          <tr>
            <th scope="col" style="min-width: 140px">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Supplier</th>
            <th scope="col">Products</th>
            <!-- <th scope="col">Stock left</th> -->
            <th scope="col">Total</th>
            <th scope="col">Receipts</th>
          </tr>
        </thead>
        <tbody>
          <% for(const p of purchases) {%>
          <tr>
            <td>
              <%=p.createdAt.toDateString()%> <br />
              <%=p.createdAt.toLocaleTimeString('en-US')%>
            </td>
            <td class="text-primary"><%=p.type%></td>
            <td><%=p.stakeholder.name%></td>
            <td>
              <% for(const i of p.items) { %>
              <span><%=i.product.name%> •</span>
              <% } %>
            </td>
            <!-- <td><%//=i.stockLeft%></td> -->
            <td>₦<%=p.total%></td>
            <td><a href="/transactions/<%=p._id%>">View</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% if(purchases.length < 1) {%>
    <div class="text-center py-3 text-muted">Nothing yet</div>
    <% } %>
  </div>
</div>
